<div class="general-container">
	<div class="general-presentation">
		<img
			style="border-radius: 100px"
			width="100"
			alt="tom"
			src="assets/tom.png"
		/>
		<span>TechDesign</span>
		<span>Paris</span>
	</div>
	<div class="general-stats">
		<div class="general-stat">
			<span>Satisfaction clients</span>
			<div class="circle-wrap">
				<div class="circle">
					<div class="mask full" style="transform: rotate(157deg)">
						<div class="fill" style="transform: rotate(157deg)"></div>
					</div>
					<div class="mask half">
						<div class="fill" style="transform: rotate(157deg)"></div>
					</div>
					<div class="inside-circle">87%</div>
				</div>
			</div>
			<span>2023-Q1</span>
		</div>
		<div class="general-stat">
			<span>Satisfaction salariés</span>
			<div class="circle-wrap">
				<div class="circle">
					<div class="mask full" style="transform: rotate(147deg)">
						<div class="fill" style="transform: rotate(147deg)"></div>
					</div>
					<div class="mask half">
						<div class="fill" style="transform: rotate(147deg)"></div>
					</div>
					<div class="inside-circle">82%</div>
				</div>
			</div>
			<span>2023-Q1</span>
		</div>
		<div class="general-stat">
			<span>Chiffre d'affaires</span>
			<div class="circle-wrap">
				<div class="circle">
					<div class="mask full" style="transform: rotate(40deg)">
						<div class="fill" style="transform: rotate(40deg)"></div>
					</div>
					<div class="mask half">
						<div class="fill" style="transform: rotate(40deg)"></div>
					</div>
					<div class="inside-circle">1,3M€</div>
				</div>
			</div>
			<span>2023-Q1</span>
		</div>
	</div>
</div>
