<div class="general-stats">
    <div class="general-stat">
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full" style="transform: rotate(157deg)">
                    <div class="fill" style="transform: rotate(157deg)"></div>
                </div>
                <div class="mask half">
                    <div class="fill" style="transform: rotate(157deg)"></div>
                </div>
                <div class="inside-circle">87%</div>
            </div>
        </div>
        <h2>Satisfaction clients</h2>
    </div>
    <div class="general-stat">
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full" style="transform: rotate(147deg)">
                    <div class="fill" style="transform: rotate(147deg)"></div>
                </div>
                <div class="mask half">
                    <div class="fill" style="transform: rotate(147deg)"></div>
                </div>
                <div class="inside-circle">82%</div>
            </div>
        </div>
        <h2>Satisfaction salariés</h2>
    </div>
    <div class="general-stat">
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full" style="transform: rotate(40deg)">
                    <div class="fill" style="transform: rotate(40deg)"></div>
                </div>
                <div class="mask half">
                    <div class="fill" style="transform: rotate(40deg)"></div>
                </div>
                <div class="inside-circle">1,3M€</div>
            </div>
        </div>
        <h2>Chiffre d'affaires</h2>
    </div>
</div>